
#particles-js{
        background-color:map-get($color-map-purple,1000);
        height: 100vh;
        min-height:650px;
        padding-top:0px;
}
.header-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top:130px;
        position: absolute;
        z-index:50;
        top:30%;
        left:50%;
        transform:translate(-50%,-50%);
}

.main-text{
@include font-face(700,3.25em);
color:$white;
letter-spacing: 4px;
text-transform: uppercase;
}

.sub-text{
        margin-top:-20px;
        @include font-face(300,1.2em);
        color:$white;
        letter-spacing: 3px;
        text-transform: uppercase;
}
